<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwindcss-colors.css')}}" />
    <title>Chat</title>

</head>

<body>

    <!-- start: Chat -->
    <section class="chat-section">
        <div class="chat-container">
            <!-- start: Sidebar -->
            <aside class="chat-sidebar">
                <a href="#" class="chat-sidebar-logo">
                    <img id="" style="width: 50px; height: 50px;"
                        src="{{ url_for('static', filename='images/dsa-logo.jfif') }}" alt="Chat Imag">
                </a>
                <ul class="chat-sidebar-menu">
                    <li class="active"><a href="#" data-title="Chats"><i class="ri-chat-3-line"></i></a></li>
                    <li><a href="#" data-title="Contacts"><i class="ri-contacts-line"></i></a></li>
                    <li><a href="#" data-title="Documents"><i class="ri-folder-line"></i></a></li>
                    <li><a href="#" data-title="Settings"><i class="ri-settings-line"></i></a></li>
                    <li class="chat-sidebar-profile">
                        <button type="button" class="chat-sidebar-profile-toggle">
                            <img src="/profile_picture/{{ user_id }}" alt="Profile Picture">
                        </button>
                        <ul class="chat-sidebar-profile-dropdown">
                            <li><a href="/profile"><i class="ri-user-line"></i>Welcome, {{ firstname }}!</a></li>
                            <li><a href="/logout"><i class="ri-logout-box-line"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- end: Sidebar -->
            <!-- start: Content -->
            <div class="chat-content">
                <!-- start: Content side -->
                <div class="content-sidebar">
                    <div class="content-sidebar-title">DSA MESSENGER</div>
                    <!-- USER SEARCH START HERE  -->
                    <div class="search_chat">
                        <div>
                            <input type="text" id="searchInput" placeholder="Search Staff ID or name"
                                onkeyup="searchUser()">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                    </div>
                    <div id="searchResults" class="search-results"></div>
                    <!-- USER SEARCH ENDS HERE  -->

                    <!-- CHAT LIST STARTS -->
                    <div class="content-messages" id="chat-list">
                        <ul class="content-messages-list">
                            {% if chats %}
                            {% for chat in chats %}
                            <li class="chat-item-list">

                                <a href="{{ url_for('open_chat', chat_type=chat.type, chat_id=chat.id) }}"
                                    class="chat-item" data-conversation="#conversation-1" data-chat-id="{{ chat.id }}"
                                    data-chat-type="{{ chat.type }}" style="text-decoration: none; color: black;"
                                    onclick="updateChatHeader('{{ chat.name }}');">

                                    <div class="chat-content-list">
                                        <img class="content-message-image" src="{{ chat.image }}" alt="Chat Image"
                                            onerror="this.src='/static/images/default-profile.png';">

                                        <div class="chat-details content-message-info">
                                            <span class="content-message-name">{{ chat.name }}</span>
                                            <!-- <span class="content-message-text" title="{{ chat.last_message }}">{{ chat.last_message[:10] ~ ('...' if chat.last_message|length > 10 else '') }}</span> -->
                                            <div class="tooltip-wrapper">
                                                <span class="content-message-text">
                                                    {{ chat.last_message[:10] ~ ('...' if chat.last_message|length > 10
                                                    else '') }}
                                                </span>
                                                {% if chat.last_message|length > 10 %}
                                                <div class="custom-tooltip">{{ chat.last_message }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="content-message-more">
                                                {% if chat.unread_count > 0 %}
                                                <span class="content-message-unread">{{ chat.unread_count }}</span>
                                                {% endif %}
                                                <span class="content-message-time">
                                                    {% if chat.timestamp %}{{ chat.timestamp }}{% else %}-{% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- Chat Options Menu (Three Dots at Right) -->
                                <div class="chat-options">
                                    <button type="button" class="menu-btn" onclick="toggleMenu(this)">
                                        <i class="ri-more-2-line"></i>
                                    </button>
                                    <ul class="chat-dropdown-menu">
                                        <li><a href="#" class="chat-dropdown-item"
                                                onclick="deleteChat('{{ chat.id }}', this)">
                                                <i class="ri-delete-bin-line"></i> Delete
                                            </a>
                                        </li>
                                        <hr>
                                        <li><a href="#" class="chat-dropdown-item"
                                                onclick="archiveChat('{{ chat.id }}', this)">
                                                <i class="ri-inbox-archive-line"></i> Archive
                                            </a>
                                        </li>
                                        <hr>
                                        <li><a href="#" class="chat-dropdown-item"
                                                onclick="muteChat('{{ chat.id }}', this)">
                                                <i class="ri-volume-mute-line"></i> Mute chat
                                            </a>
                                        </li>
                                        <hr>
                                        <li><a href="#" class="chat-dropdown-item"
                                                onclick="markChat('{{ chat.id }}', this)">
                                                <i class="ri-check-double-line"></i> Mark as read
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <p>No chats available</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- end: Content side -->
                <!-- start: Conversation -->
                <div class="conversation conversation-default active">
                    <img src="{{ url_for('static', filename='images/dsa-logo.png') }}"
                        style="width: 200px; height: 200px;" alt="">
                    <p style="font-size: 30px;">Select chat and view conversation!</p>
                </div>
                <div class="conversation" id="conversation-1">
                    <div class="conversation-top">
                        <button type="button" class="conversation-back"><i class="ri-arrow-left-line"></i></button>
                        <div class="conversation-user">
                            <div class="imgText">
                                <div class="chat-header userimg" style="display: inline-flex;">

                                    <img id="chatHeaderImg" src="" alt="Chat Image" class="cover">
                                    <h4 id="chatHeader" style="margin-top: 15px;"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="conversation-buttons">
                            <button type="button"><i class="ri-phone-fill"></i></button>
                            <button type="button"><i class="ri-vidicon-line"></i></button>
                            <button type="button"><i class="ri-information-line"></i></button>
                        </div>
                    </div>
                    <div class="conversation-main" id="conversation-main"></div>



                    <div class="conversation-form" id="chatInput">
                        <!-- <button type="button" class="conversation-form-button"><i class="ri-emotion-line"></i></button> -->
                        <button type="button" class="conversation-form-button" id="attachFileIcon"><i
                                class="ri-attachment-line"></i></button>
                        <div class="conversation-form-group">
                            <input type="file" id="fileInput" style="display: none;">
                            <input type="text" id="messageInput" class="conversation-form-input" rows="1"
                                placeholder="Type here..."></input>
                            <button type="button" class="conversation-form-record"><i class="ri-mic-line"></i></button>
                        </div>
                        <button type="button" id="sendButton"
                            class="conversation-form-button conversation-form-submit"><i
                                class="ri-send-plane-2-line"></i></button>
                    </div>
                </div>
                <!-- end: Conversation -->
            </div>
            <!-- end: Content -->
        </div>
    </section>
    <!-- end: Chat -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>

</html>